@charset "UTF-8";
body,
.row,
.container-fluid {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 0;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.between_flex {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
}

.bold {
  font-weight: 600;
}

button, input:not(input[type=radio]), select, textarea {
  border-radius: 3px;
  border: 1px solid #251e1ead;
  height: 40px;
}

label {
  font-size: 16px;
}

.error_text {
  color: red;
}

.small_text {
  font-size: 12px;
}

.medium_text {
  font-size: 14px;
}

.large_text {
  font-size: 18px;
}

.disabled_text {
  color: #999999;
}

.grey {
  color: #9e9797;
}

.fa-close:hover {
  cursor: pointer;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.square_radius {
  border-radius: 0 !important;
}

input:focus, button:focus {
  outline: none;
}

.mobile_show {
  display: none !important;
}

@media screen and (max-width: 576px) {
  .mobile_show {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 480px;
    margin: 17% auto;
  }
}
.modal .modal-header {
  background: #252525;
  color: #fff;
  padding: 10px 20px;
}
.modal .modal-body {
  padding: 20px;
}
.modal .modal-body p {
  font-size: 16px;
}
.modal .modal-body input[type=text] {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
}
.modal .modal-footer {
  padding: 10px 20px 20px;
  display: flex;
  justify-content: space-between;
  border-top: 0;
}
.modal .modal-footer .cancel_btn {
  background: red;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  width: 130px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
.modal .modal-footer .cancel_btn span {
  font-size: 28px;
  line-height: 0.6;
}
.modal .modal-footer .save_btn {
  background: #252525;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  width: 280px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
.modal .modal-footer .save_btn span {
  font-size: 28px;
  line-height: 0.6;
}

.deletelistModal.modal .modal-body .between_flex {
  justify-content: unset;
}
.deletelistModal.modal .modal-body .between_flex i {
  color: red;
  font-size: 40px;
}
.deletelistModal.modal .modal-body .between_flex div {
  margin-left: 15px;
}
.deletelistModal.modal .modal-footer .delete_cancel_btn {
  background: transparent;
  color: red;
  font-size: 16px;
  border: 1px solid red;
  border-radius: 20px;
  width: 250px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
.deletelistModal.modal .modal-footer .delete_cancel_btn span {
  font-size: 28px;
  line-height: 0.6;
}
@media screen and (max-width: 576px) {
  .deletelistModal.modal .modal-footer .delete_cancel_btn .delete_cancel_btn {
    width: 250px;
  }
}
.deletelistModal.modal .modal-footer .delete_btn {
  background: red;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  width: 190px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
.deletelistModal.modal .modal-footer .delete_btn span {
  font-size: 28px;
  line-height: 0.6;
}

#proceedModal.modal .modal-content .list-step1 .modal-body input[name=next_time] {
  margin: 10px 0 0;
}
#proceedModal.modal .modal-content .list-step1 .modal-footer .back_trolley_btn {
  background: red;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  width: 90px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
#proceedModal.modal .modal-content .list-step1 .modal-footer .back_trolley_btn span {
  font-size: 28px;
  line-height: 0.6;
}
#proceedModal.modal .modal-content .list-step1 .modal-footer .save_trolley_btn {
  background: transparent;
  color: #252525;
  font-size: 16px;
  border: 1px solid #252525;
  border-radius: 20px;
  width: 100px;
  padding: 8px 16px;
  text-align: center;
}
#proceedModal.modal .modal-content .list-step1 .modal-footer .process_btn {
  background: #252525;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  width: 205px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
#proceedModal.modal .modal-content .list-step1 .modal-footer .process_btn span {
  font-size: 28px;
  line-height: 0.6;
}
header {
  background-color: darkslategrey;
  padding: 10px;
}
header .topnav {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 15px;
}
header .topnav a {
  float: right;
  display: block;
  color: #fff;
  text-align: center;
  padding: 30px 10px;
  text-decoration: none;
  font-size: 18px;
}
header .topnav .logo {
  font-size: 50px;
  color: #fff;
}
header .topnav .logo img {
  width: 125px;
}
header .topnav .icon {
  display: none;
}
header .action_bar {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .action_bar .action_bar01 {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
header .action_bar .action_bar01 i {
  color: #fff;
  font-size: 24px;
}
header .action_bar .action_bar01 ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0 30px;
}
header .action_bar .action_bar01 ul li a {
  color: #fff;
}
header .action_bar .action_bar01 ul li a span {
  margin-left: 10px;
  font-size: 16px;
}
header .action_bar .action_bar01 .dropdown-menu {
  display: none !important;
}
header .action_bar .action_bar01 .open > .dropdown-menu {
  display: block !important;
}
header .action_bar .action_bar01 .dropdown-toggle::after {
  margin-left: 2.255em;
}
header .action_bar .action_bar01 .dropdown .dropdown-toggle .caret {
  margin-top: 0;
  margin-left: 50px;
  border-top: 6px solid #eee;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
header .action_bar .action_bar01 .input-group {
  width: 340px;
  border: none;
}
header .action_bar .action_bar01 .input-group input {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 20px;
  width: 100%;
  border: none;
}
header .action_bar .action_bar01 .input-group input .input-group-prepend button {
  position: absolute;
  left: 2px;
  width: 35px;
  top: 2px;
  border-radius: 50px;
  height: 35px;
}
header .action_bar .action_bar01 .input-group input .input-group-append button {
  position: absolute;
  right: 2px;
  width: 35px;
  top: 2px;
  border-radius: 50px;
  height: 35px;
}
header .action_bar .action_bar01 .input-group .form-control.counter {
  text-align: center;
}
header .action_bar .action_bar01 .input-group i {
  color: #252525;
  margin-left: -30px;
  font-size: 22px;
  margin-top: 5px;
}
header .action_bar .action_bar02 {
  display: flex;
  background: #fff;
  width: 300px;
  border-radius: 30px;
  padding: 0px 10px;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
}
header .action_bar .action_bar02 .cart {
  display: flex;
  align-items: center;
  padding: 7px;
}
header .action_bar .action_bar02 .cart i {
  font-size: 22px;
  margin-right: 10px;
}
header .action_bar .action_bar02 .toggle_btn {
  display: flex;
  align-items: center;
}
header .action_bar .action_bar02 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 0;
}
header .action_bar .action_bar02 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .action_bar .action_bar02 .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .action_bar .action_bar02 .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .action_bar .action_bar02 .switch .slider.round {
  border-radius: 34px;
}
header .action_bar .action_bar02 .switch .slider.round:before {
  border-radius: 50%;
}
header .action_bar .action_bar02 .switch .slider:before {
  top: 2px;
  bottom: 0;
}
header .action_bar .action_bar02 input:checked + .slider {
  background-color: #2196F3;
}
header .action_bar .action_bar02 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
header .action_bar .action_bar02 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
header .action_bar #sidebarCollapse {
  display: none;
  margin-right: 20px;
}

header.favourite_header .action_bar .action_bar01 .dropdown .dropdown-toggle .caret {
  margin-left: 20px;
}
header.favourite_header .action_bar .action_bar01 .action_bar02 {
  margin-left: 20px;
  width: 270px;
  padding: 5px 10px;
}
header.favourite_header .action_bar .action_bar01 .action_bar02 .cart_arrow {
  margin-left: 10px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin-top: -9px;
}
header.favourite_header .action_bar i.fa-shopping-cart {
  color: #252525;
}
header.favourite_header .action_bar .shopping_list_header {
  color: #fff;
}
header.favourite_header .action_bar .shopping_list_header span.large_text {
  font-size: 24px;
  margin-right: 5px;
}
header.favourite_header .action_bar .shopping_list_header i {
  margin-right: 4px;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  header .topnav {
    padding: 0 20px;
    text-align: center;
  }
  header .topnav a {
    display: none;
    padding: 20px 0 0 0;
  }
  header .topnav .icon {
    display: block;
    font-size: 24px;
    z-index: 10000;
  }
  header .topnav .icon:hover {
    color: white;
  }
  header .topnav .logo {
    font-size: 40px;
    margin-top: 12px;
    display: block;
  }
  header .topnav .logo img {
    position: absolute;
    left: 20px;
    width: 85px;
  }
  header .topnav.responsive {
    position: relative;
  }
  header .topnav.responsive .icon {
    position: absolute;
    right: 20px;
    top: 0;
  }
  header .topnav.responsive a {
    float: none;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header .topnav a {
    padding: 20px 0 0 0;
  }
  header .topnav.responsive .logo .logo_text {
    position: relative;
    display: block;
    top: 0;
    left: 0;
  }
  header .action_bar {
    margin-top: 10px;
  }
  header .action_bar i {
    color: #999999;
  }
  header .action_bar .action_bar01 .input-group {
    width: unset;
    display: none;
  }
  header .action_bar .action_bar01 .input-group i {
    color: #999999;
  }
  header .action_bar .action_bar01 ul li a span {
    display: none;
  }
  header .action_bar .action_bar01 ul li a .caret {
    display: none;
  }
  header .action_bar .action_bar01 ul li a[aria-expanded=true] {
    border-bottom: none;
    padding: 0 !important;
  }
  header .action_bar .action_bar01 ul li a[aria-expanded=false]::before, header .action_bar .action_bar01 ul li a[aria-expanded=true]::before {
    display: none;
  }
  header .action_bar .action_bar01 #sidebarCollapse {
    display: block;
  }
  header .action_bar .action_bar02 {
    width: 200px;
    margin-right: 10px;
  }
  header .action_bar .action_bar02 .toggle_btn {
    display: none;
  }
  header .action_bar .action_bar02 #cart_text {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  header .topnav {
    padding: 0px 20px 60px;
  }
  header .topnav .logo {
    margin-top: 5px;
  }
  header .topnav .logo .logo_text {
    margin-top: 5px;
    position: absolute;
    left: 110px;
    top: 64px;
  }
  header .topnav .logo img {
    position: absolute;
    left: 40%;
  }
  header .action_bar .action_bar01 {
    padding: 0 0 0 15px;
  }
  header .action_bar .action_bar01 ul {
    margin: 0 20px;
  }
  header .action_bar .action_bar01 i {
    color: #fff;
  }
  header .action_bar .action_bar02 {
    display: none;
    background: #fff;
  }
  header .action_bar .action_bar02 i {
    color: #252525;
  }
  header .action_bar .action_bar02 .cart i {
    margin-right: 8px;
  }
  header .action_bar .action_bar02.mobile_show {
    display: flex !important;
  }
  header .search_bar {
    position: relative;
  }
  header .search_bar input {
    width: 90%;
    margin: 20px;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
  }
  header .search_bar i {
    position: absolute;
    top: 27px;
    right: 30px;
    font-size: 22px;
  }
}
footer {
  background-color: darkslategrey;
  padding: 50px 20px;
}
footer h2 {
  display: inline-block;
  color: white;
}
footer .footer_title {
  font-weight: 600;
  color: #f9f9f987;
  font-size: 18px;
  margin-bottom: 20px;
}
footer p {
  color: white;
  margin-bottom: 5px;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  footer .footer_logo {
    width: 85px;
  }
  footer .footer_logo_title {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
  footer .footer_title {
    margin-top: 40px;
  }
  footer .footer_logo_title {
    width: 270px;
  }
  footer .topnav a {
    display: none;
    padding: 20px 15px;
  }
}
@media screen and (max-width: 576px) {
  footer .footer_logo_text {
    width: 100%;
  }
}
section {
  display: flex;
  background-color: #e1e1e1;
  /*left side bar*/
}
section .wrapper {
  display: flex;
  align-items: stretch;
}
section .wrapper #sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #fff;
  color: #252525;
  transition: all 0.3s;
}
section .wrapper #sidebar ul.components {
  padding: 0;
}
section .wrapper #sidebar ul li a {
  padding: 10px 20px;
  font-size: 18px;
  display: block;
  color: #252525;
  border-bottom: 1px solid #999999;
  position: relative;
}
section .wrapper #sidebar ul li.active > a {
  border-bottom: 1px solid #999999;
}
section .wrapper #sidebar ul li.square_black_btn {
  background-color: #252525;
  color: #fff;
  padding: 5px;
  text-align: center;
  border: 1px solid #252525;
  margin: 30px 15px;
  cursor: pointer;
}
section .wrapper #sidebar ul li.square_black_btn:hover {
  background-color: #fff;
  color: #252525;
}
section .wrapper #sidebar ul ul a {
  margin: 0 15px;
  color: #252525;
}
section .wrapper #sidebar ul ul a:hover {
  background-color: #252525;
  color: #fff;
}
section .wrapper #sidebar ul a[aria-expanded=true] {
  color: #999999;
  border-bottom: 1px solid #999999;
  padding: 10px 0 10px 40px !important;
}
section .wrapper #sidebar ul a[data-toggle=collapse] {
  position: relative;
}
section .wrapper #sidebar ul a[aria-expanded=false]::before, section .wrapper #sidebar ul a[aria-expanded=true]::before {
  content: "›";
  display: block;
  position: absolute;
  right: 20px;
  font-size: 2em;
  top: -7px;
}
section .wrapper #sidebar ul a[aria-expanded=true]::before {
  content: "‹";
  left: 20px;
  right: unset;
}
section .wrapper #sidebar.active {
  margin-left: -300px;
}

@media screen and (max-width: 768px) {
  section #sidebar {
    margin-left: -300px;
  }
  section #sidebar.active {
    margin-left: 0 !important;
  }
}
section {
  display: flex;
  background-color: #e1e1e1;
  /*right side bar*/
}
section .main_content .payment {
  width: 60%;
}
section .main_content .payment .checkout_input02 {
  padding: 5px 10px;
  width: 100%;
  margin-top: 10px;
}
section .main_content .payment .groceries_inputs .flex:last-child {
  margin-top: 24px;
}
section .main_content .payment #submit {
  color: #fff;
  background-color: #999999;
  text-align: center;
  border-radius: 30px;
  padding: 10px 20px;
  width: 220px;
  border: 0;
  margin: 20px 15px 30px 15px;
  font-size: 16px;
}
section .wrapper_right {
  display: flex;
  align-items: stretch;
}
section .wrapper_right .rsb {
  min-width: 280px;
  max-width: 280px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 175px;
  height: calc(100vh - 182px);
  overflow-y: auto;
  white-space: nowrap;
  z-index: 1;
  border-right: 1px solid #ddd;
  padding: 15px;
}
section .wrapper_right .rsb .input-group.input-counter {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 120px;
}
section .wrapper_right .rsb .input-group.input-counter .counter {
  border-radius: 20px !important;
  height: 27px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #252525;
}
section .wrapper_right .rsb .input-group.input-counter .input-group-prepend {
  display: flex;
}
section .wrapper_right .rsb .input-group.input-counter .input-group-prepend button {
  position: absolute;
  left: 0;
  width: 25px;
  top: 1px;
  border: none;
  border-radius: 50px;
  height: 25px;
  z-index: 5;
  background-color: #252525;
}
section .wrapper_right .rsb .input-group.input-counter .input-group-prepend button i {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #fff;
}
section .wrapper_right .rsb .input-group.input-counter .input-group-prepend button:focus {
  outline: none;
}
section .wrapper_right .rsb .input-group.input-counter .input-group-append {
  display: flex;
  margin-left: -1px;
}
section .wrapper_right .rsb .input-group.input-counter .input-group-append button {
  position: absolute;
  right: 2px;
  width: 25px;
  top: 1px;
  border: none;
  border-radius: 50px;
  height: 25px;
  z-index: 5;
  background-color: #252525;
}
section .wrapper_right .rsb .input-group.input-counter .input-group-append button i {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #fff;
}
section .wrapper_right .rsb .input-group.input-counter .input-group-append button:focus {
  outline: none;
}
section .wrapper_right .rsb div.flex {
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
section .wrapper_right .rsb div.flex .small_text.small_text i {
  font-size: 20px;
}
section .wrapper_right .rsb .remove_button {
  background: #252525;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 4px 4px;
  width: 90px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section .wrapper_right .rsb .remove_button #remove_minus {
  font-size: 36px;
  line-height: 0.5;
  background: #fff;
  color: #252525;
  width: 20px;
  height: 20px;
  top: 8px;
  border-radius: 20px;
}
section .wrapper_right .rsb input {
  border: none;
}
section .wrapper_right .rsb .checkout_btn {
  color: #fff;
  background-color: #252525;
  text-align: center;
  border-radius: 30px;
  padding: 10px 20px;
  width: 240px;
  border: 1px solid #252525;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
section .wrapper_right .rsb .checkout_btn:hover {
  color: #252525;
  background-color: #fff;
}
section .wrapper_right .rsb .trolley {
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid #999999;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
section .wrapper_right .rsb .trolley span {
  font-size: 14px;
}
section .wrapper_right .rsb .trolley_items {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
section .wrapper_right .rsb .between_flex {
  border-bottom: 1px solid #999999;
  padding: 5px 0;
}
section .wrapper_right .rsb .trolley_total_price {
  margin: 20px 0;
}
section .wrapper_right .rsb .trolley_total_price .between_flex {
  border-bottom: none;
  padding: 5px 0 0 0;
}
section .wrapper_right .rsb .toggle_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper_right .rsb .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
section .wrapper_right .rsb .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
section .wrapper_right .rsb .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
section .wrapper_right .rsb .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
section .wrapper_right .rsb .switch .slider.round {
  border-radius: 34px;
}
section .wrapper_right .rsb .switch .slider.round:before {
  border-radius: 50%;
}
section .wrapper_right .rsb .switch .slider:before {
  top: 2px;
  bottom: 0;
}
section .wrapper_right .rsb input:checked + .slider {
  background-color: #252525;
}
section .wrapper_right .rsb input:focus + .slider {
  box-shadow: 0 0 1px #252525;
}
section .wrapper_right .rsb input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
section .wrapper_right .rsb .coupon_btns button {
  width: 100%;
  border: 1px solid #252525;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  display: block;
  margin-bottom: 10px;
}
section .wrapper_right .rsb .coupon_btns button:first-child {
  color: #252525;
  background-color: #fff;
}
section .wrapper_right .rsb .coupon_btns button:first-child:hover {
  color: #fff;
  background-color: #252525;
}
section .wrapper_right .rsb .coupon_btns button:last-child {
  color: #fff;
  background-color: #252525;
}
section .wrapper_right .rsb .coupon_btns button:last-child:hover {
  color: #252525;
  background-color: #fff;
}
section .wrapper_right .static.rsb {
  position: static;
  height: unset;
}
section .wrapper_right .static.rsb .empty_trolley {
  margin: 50px 0 30px;
}

@media screen and (max-width: 768px) {
  section .wrapper_right .static.rsb {
    position: unset;
    margin-right: -280px;
    transition: all 0.3s;
    display: none;
  }
  section .wrapper_right .static.rsb.active {
    margin-right: 0;
    display: block;
  }
}
section {
  /*main section*/
}
section .main_content #collection_text {
  margin: 10px 15px;
  font-size: 18px;
  border-bottom: 2px solid #e1e1e1;
  padding: 10px 0;
}
section .main_content .collection_block {
  width: 60%;
}
section .main_content .collection_block .delivery_pickup {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
section .main_content .collection_block label {
  margin: 30px 15px 10px;
}
section .main_content .collection_block .progress-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  background-color: transparent;
  width: 100%;
  border-bottom: 2px solid #e1e1e1;
}
section .main_content .collection_block .progress-bar li {
  flex: 2;
  position: relative;
  padding: 0 0 14px 0;
  font-size: 18px;
  line-height: 1.5;
  color: #777;
  font-weight: 600;
  white-space: nowrap;
  overflow: visible;
  min-width: 0;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}
section .main_content .collection_block .progress-bar li:hover {
  cursor: pointer;
}
section .main_content .collection_block .progress-bar li:hover:before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: red;
  border: 2px solid red;
  position: absolute;
  left: 34px;
  bottom: -3px;
  z-index: 3;
  transition: all 0.2s ease-in-out;
}
section .main_content .collection_block .progress-bar li:first-child {
  flex: 1;
  margin: 0 0 0 70px;
}
section .main_content .collection_block .progress-bar li:first-child p {
  left: 12px;
}
section .main_content .collection_block .progress-bar li:first-child:before {
  left: 10px;
}
section .main_content .collection_block .progress-bar li:last-child {
  flex: 1;
  text-align: right;
  margin: 0 80px 0 0;
}
section .main_content .collection_block .progress-bar li:last-child p {
  left: 31px;
}
section .main_content .collection_block .progress-bar li:last-child span {
  width: 200%;
  display: inline-block;
  position: absolute;
  left: -100%;
}
section .main_content .collection_block .progress-bar li:last-child:before {
  left: 28px;
}
section .main_content .collection_block .progress-bar span {
  transition: opacity 0.3s ease-in-out;
}
section .main_content .collection_block .progress-bar p {
  position: absolute;
  top: 60px;
  left: 43px;
  font-weight: 100;
  font-size: 14px;
}
section .main_content .collection_block .progress-bar li:not(.is-active) span {
  opacity: 0;
}
section .main_content .collection_block .progress-bar .is-active:not(:first-child):after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: -50%;
  z-index: 2;
}
section .main_content .collection_block .progress-bar .is-active:last-child:after {
  width: 200%;
  left: -100%;
}
section .main_content .collection_block .progress-bar .is-active:before,
section .main_content .collection_block .progress-bar li:hover:before,
section .main_content .collection_block .progress-bar .is-hovered:before {
  background-color: var(--color-white);
  border-color: red;
}
section .main_content .collection_block .progress-bar li:hover:before,
section .main_content .collection_block .progress-bar .is-hovered:before {
  transform: scale(1.33);
}
section .main_content .collection_block .progress-bar li:hover span, section .main_content .collection_block .progress-bar li:hover p,
section .main_content .collection_block .progress-bar li.is-hovered span,
section .main_content .collection_block .progress-bar li.is-hovered p {
  color: #252525;
}
section .main_content .collection_block .progress-bar .has-changes {
  opacity: 1 !important;
}
section .main_content .collection_block .progress-bar .has-changes:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: calc(50% - 4px);
  bottom: -20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23ed1c24%22%20d%3D%22M4%200l4%208H0z%22%2F%3E%3C%2Fsvg%3E");
}
section .main_content .collection_block .fa-caret-right {
  position: absolute;
  right: 0;
  top: 22px;
  font-size: 42px;
}
section .main_content .collection_block .fa-caret-left {
  position: absolute;
  left: 0;
  top: 22px;
  font-size: 42px;
}
section .main_content .collection_block .fa-caret-right:hover, section .main_content .collection_block .fa-caret-left:hover {
  color: red;
  cursor: pointer;
}
section .main_content .collection_block .morning .morning_title {
  font-size: 18px;
}
section .main_content .collection_block .morning img {
  width: 15px;
  margin: 5px 0 20px;
}
section .main_content .collection_block .morning div.text-center {
  font-size: 12px;
  margin: 30px 0;
}
section .main_content .collection_block .preferred p {
  padding: 0 15px;
}
section .main_content .collection_block .delivery_address {
  margin-bottom: 20px;
}
section .main_content .collection_block .delivery_address .col-md-4 {
  display: flex;
}
section .main_content .payment {
  width: 60%;
}
section .main_content .payment .checkout_input02 {
  padding: 5px 10px;
  width: 100%;
  margin-top: 10px;
}
section .main_content .payment .groceries_inputs .flex:last-child {
  margin-top: 24px;
}
section .main_content .payment #submit {
  color: #fff;
  background-color: #999999;
  text-align: center;
  border-radius: 30px;
  padding: 10px 20px;
  width: 220px;
  border: 0;
  margin: 20px 15px 30px 15px;
  font-size: 16px;
}
section .main_content .payment #submit:hover {
  background-color: #252525;
}

section.shopping_result_section {
  justify-content: space-between;
}
section.shopping_result_section form {
  width: 50%;
  margin: 15px;
}
section.shopping_result_section form .shopping_flex .shopping_result {
  width: 34%;
  margin-right: 2%;
  background: #fff;
}
section.shopping_result_section form .shopping_flex .shopping_result .shopping_lists {
  padding: 30px;
}
section.shopping_result_section form .shopping_flex .shopping_result .shopping_lists .shopping_list {
  padding: 10px 0;
  border-top: 1px solid #e1e1e1;
  margin-top: 5px;
  align-items: unset;
}
section.shopping_result_section form .shopping_flex .shopping_result .shopping_lists .total_price {
  padding: 10px 0;
  margin-top: 30px;
  border-top: 1px solid #e1e1e1;
}
section.shopping_result_section form .shopping_flex .shopping_result .shopping_method {
  padding: 30px 0 50px;
  background-color: #f2f1f1;
}
section.shopping_result_section form .shopping_flex .shopping_thanks {
  width: 64%;
  background: #fff;
  padding: 30px;
}
section.shopping_result_section form .shopping_flex .shopping_thanks img {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}
section.shopping_result_section form .shopping_flex .shopping_thanks .large_text {
  margin-bottom: 30px;
}

@media screen and (max-width: 1600px) {
  section .main_content .collection_block {
    width: 80%;
  }
  section .main_content .collection_block .progress-bar li:first-child {
    margin: 0;
  }
  section .main_content .collection_block .progress-bar li:last-child {
    margin: 0 25px 0 0;
  }
}
@media screen and (max-width: 1024px) {
  section .main_content .collection_block {
    width: 95%;
  }

  section.shopping_result_section form .shopping_flex {
    display: block;
  }
  section.shopping_result_section form .shopping_flex .shopping_result {
    width: 100%;
    margin-right: 0;
  }
  section.shopping_result_section form .shopping_flex .shopping_thanks {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  section .main_content .collection_block .morning div.text-center:first-child {
    margin: 50px 0 0;
  }
  section .main_content .collection_block .morning div.text-center .between_flex {
    justify-content: space-around;
  }
  section .main_content .collection_block .delivery_address .col-md-4 {
    justify-content: center;
    margin-top: 10px;
  }
  section .main_content .payment .col-md-4 {
    margin-top: 20px;
  }

  section.shopping_result_section form {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  section .main_content .collection_block {
    width: 100%;
  }
  section .main_content .collection_block .delivery_pickup {
    display: grid;
  }
  section .main_content .collection_block .morning div.text-center:first-child {
    margin: 80px 0 0;
  }
  section .main_content .collection_block .progress-bar li:last-child {
    margin: 0;
  }
  section .main_content .payment {
    width: 100%;
  }
  section .main_content.active {
    margin-left: -280px;
  }

  section.shopping_result_section form.active {
    margin-left: -280px;
  }
}
section {
  /*main section*/
}
section .main_content {
  width: calc(100% - 600px);
  margin: 15px;
  background: white;
  box-shadow: 1px 1px 5px #aaaaaa;
}
section .main_content #content_title {
  padding: 15px 20px;
  font-size: 18px;
  display: block;
  border-bottom: 2px solid #e1e1e1;
}
section .main_content .groceries_inputs .flex {
  display: flex;
  justify-content: space-between;
}
section .main_content .groceries_inputs .flex .form-group {
  width: 100%;
}
section .main_content .groceries_inputs .flex .form-group input.checkout_input01 {
  width: 95%;
}
section .main_content .groceries_inputs .flex .form-group:last-child input.checkout_input01 {
  width: 95%;
  float: right;
}
section .main_content .groceries_inputs .flex .form-group:last-child p {
  margin-left: 5%;
}
section .main_content .groceries_inputs .checkout_input01 {
  width: 48%;
  margin-top: 10px;
}
section .main_content .groceries_inputs input {
  padding: 5px 10px;
}
section .main_content .groceries_inputs .checkout_input02 {
  width: 100%;
  margin-top: 10px;
}
section .main_content .groceries_inputs .between_flex {
  align-items: unset;
}
section .main_content .groceries_inputs .checkout_input03 {
  width: 30%;
  margin-top: 10px;
}
section .main_content #content_sidebar {
  height: calc(100% - 57px);
  box-shadow: 1px 1px 5px #aaaaaa;
}
section .main_content #content_sidebar .col-md-5 {
  height: 100%;
  background: #fff;
  color: #252525;
  transition: all 0.3s;
  padding-top: 10px;
}
section .main_content #content_sidebar .col-md-5 ul.components {
  padding: 0;
}
section .main_content #content_sidebar .col-md-5 ul li a[aria-expanded=true] {
  border-bottom: 1px solid #999999;
  padding: 10px 0 10px 40px !important;
}
section .main_content #content_sidebar .col-md-5 ul li a[data-toggle=collapse] {
  position: relative;
}
section .main_content #content_sidebar .col-md-5 ul li a[aria-expanded=false]::before, section .main_content #content_sidebar .col-md-5 ul li a[aria-expanded=true]::before {
  content: "›";
  display: block;
  position: absolute;
  right: 20px;
  font-size: 2em;
  top: -7px;
}
section .main_content #content_sidebar .col-md-5 ul li a[aria-expanded=true]::before {
  content: "‹";
  left: 20px;
  right: unset;
}
section .main_content #content_sidebar .col-md-5 ul li a {
  padding: 10px 0;
  font-size: 18px;
  display: block;
  color: #999999;
  border-bottom: 1px solid #999999;
  position: relative;
}
section .main_content #content_sidebar .col-md-5 ul li a[aria-expanded=false]::before, section .main_content #content_sidebar .col-md-5 ul li a[aria-expanded=true]::before {
  right: 0;
}
section .main_content #content_sidebar .col-md-5 ul li a.active {
  color: #252525;
}
section .main_content #content_sidebar .col-md-5 ul li.active > a {
  border-bottom: 1px solid #999999;
}
section .main_content #content_sidebar .col-md-5 ul ul a {
  margin: 0 15px;
  color: #252525;
}
section .main_content #content_sidebar .col-md-5 ul ul a:hover {
  background-color: #252525;
  color: #fff;
}
section .main_content #content_sidebar .col-md-7 {
  background-color: #e1e1e1;
  height: 100%;
  padding: 20px;
  transition: all 0.3s;
}
section .main_content #content_sidebar .col-md-7 .large_text {
  padding: 0 0 15px 0;
}
section .main_content #content_sidebar .col-md-7 .checkout_btn {
  color: #fff;
  background-color: #252525;
  text-align: center;
  border-radius: 30px;
  padding: 10px 20px;
  width: 240px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
section .main_content #content_sidebar .col-md-7 .account_content {
  overflow-x: auto;
  display: none;
}
section .main_content #content_sidebar .col-md-7 .account_content .col-lg-6 {
  padding: 0;
}
section .main_content #content_sidebar .col-md-7 .account_content:first-child {
  display: block;
}
section .main_content #content_sidebar .col-md-7 #manageAddresses label {
  border-bottom: 1px solid #999999;
  display: block;
  padding-bottom: 5px;
}
section .main_content #content_sidebar .col-md-7 #manageAddresses div.row .col-lg-4 {
  padding: 0;
}
section .main_content #content_sidebar .col-md-7 #manageAddresses div.row .col-lg-4 .address_box {
  border: 1px solid #252525;
  background-color: #fff;
  margin: 10px 0 20px;
}
section .main_content #content_sidebar .col-md-7 #manageAddresses div.row .col-lg-4 .address_box .address_header {
  padding: 5px 10px;
  border-bottom: 1px solid #252525;
}
section .main_content #content_sidebar .col-md-7 #manageAddresses div.row .col-lg-4 .address_box .address_content {
  padding: 5px 10px;
}
section .main_content #content_sidebar .col-md-7 #manageAddresses div.row .col-lg-4 .disabled_text {
  margin-top: -15px;
}
section .main_content #content_sidebar .col-md-7 #manageAddresses div.row .col-lg-4:not(:first-child) {
  margin-left: 10px;
}
section .main_content .select_section {
  padding-top: 50px;
}

@media screen and (max-width: 1024px) {
  section .main_content #content_sidebar .col-md-7 #manageAddresses div.row .col-lg-4:not(:first-child) {
    margin-left: 0;
  }
  section .main_content #content_sidebar .col-md-7 .checkout_btn {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  section .main_content {
    width: 100%;
    margin: 5px;
  }
  section .main_content #content_sidebar .col-md-7 .checkout_btn {
    width: 240px;
  }
}
section {
  /*main section*/
}
section .main_content #content_sidebar .col-md-5 .addnew_btn {
  color: #fff;
  background-color: #252525;
  text-align: center;
  border-radius: 30px;
  padding: 10px 20px;
  width: 165px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
section .main_content #content_sidebar .col-md-5 .addnew_btn:focus {
  outline: none;
}
section .main_content #content_sidebar .col-md-7 .account_content .fa-pencil:hover {
  cursor: pointer;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table {
  margin-top: 10px;
  width: 100%;
  min-width: 500px;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table thead {
  margin: 10px 0;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table thead tr th {
  padding: 10px 0;
  font-size: 12px;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table thead tr th:last-child {
  text-align: right;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr {
  border-bottom: 1px solid #999999;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td {
  padding: 5px 0;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter {
  width: 60px;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter .counter {
  text-align: center;
  background-color: transparent;
  border: none;
  box-shadow: unset;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter .input-group-prepend {
  display: flex;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter .input-group-prepend button {
  position: absolute;
  left: 0;
  width: 15px;
  top: 10px;
  border-radius: 50%;
  height: 15px;
  z-index: 5;
  background-color: transparent;
  border: 1px solid #252525;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter .input-group-prepend button i {
  position: absolute;
  top: 2px;
  right: 2px;
  color: #252525;
  font-size: 11px;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter .input-group-prepend button:focus {
  outline: none;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter .input-group-append {
  display: flex;
  margin-left: -1px;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter .input-group-append button {
  position: absolute;
  right: 0px;
  width: 15px;
  top: 10px;
  border-radius: 50%;
  height: 15px;
  z-index: 5;
  background-color: transparent;
  color: #fff;
  border: 1px solid #252525;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter .input-group-append button i {
  position: absolute;
  top: 1px;
  right: 2px;
  color: #252525;
  font-size: 11px;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td .input-group.input-counter .input-group-append button:focus {
  outline: none;
}
section .main_content #content_sidebar .col-md-7 .account_content .mylist_table tbody tr td:last-child {
  text-align: right;
}

@media screen and (max-width: 992px) {
  section .main_content #content_sidebar .col-md-7 {
    height: unset;
  }
  section .main_content #content_sidebar .col-md-5 {
    height: unset;
  }
}
section.favourite_section {
  background-color: #fff;
}
section.favourite_section .wrapper #sidebar ul li a[aria-expanded=true] {
  border-bottom: none;
}
section.favourite_section .wrapper #sidebar ul li a[aria-expanded=true]:last-child {
  border-bottom: 2px solid #252525;
  padding: 10px 0 5px 40px !important;
}
section.favourite_section #favouriteCarousel .carousel-indicators {
  display: none;
}
section.favourite_section #favouriteCarousel .carousel-inner {
  padding: 15px;
}
section.favourite_section #favouriteCarousel .favourite_items .col-lg-4 {
  padding: 15px;
}
section.favourite_section #favouriteCarousel .favourite_items .col-lg-4 img {
  width: 100%;
}
section.favourite_section #favouriteCarousel .carousel-control {
  background-image: unset;
}

@media screen and (min-width: 768px) {
  .carousel-indicators {
    display: none !important;
  }
}
section {
  /*main section*/
}
section .main_content.order_history {
  margin: 0;
  box-shadow: unset;
}
section .main_content.order_history .order_header {
  padding: 15px 10px;
}
section .main_content.order_history .order_header .col-md-12 {
  padding: 0;
}
section .main_content.order_history .order_header .col-md-12.between_flex .order_card_header_icons {
  margin-right: 30px;
}
section .main_content.order_history .order_header .col-md-12.between_flex .order_card_header_icons i {
  cursor: pointer;
  color: #999999;
  font-size: 32px;
}
section .main_content.order_history .order_header .col-md-12.between_flex .order_card_header_icons i.active {
  color: #252525;
}
section .main_content.order_history .order_header .col-md-12.between_flex .order_card_header_icons i:hover {
  color: #252525;
}
section .main_content.order_history #arrange_withcard .order_content {
  position: relative;
  padding: 15px 10px;
}
section .main_content.order_history #arrange_withcard .order_content .order_title {
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
}
section .main_content.order_history #arrange_withcard .order_content .add_all_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #252525;
  color: #fff;
  border: 1px solid #252525;
  padding: 3px 20px;
}
section .main_content.order_history #arrange_withcard .order_content .order_card {
  width: 200px;
  padding: 10px;
  border: 1px solid #252525;
  margin-top: 20px;
  margin: 20px 20px 20px 0;
  display: inline-block;
  position: relative;
}
section .main_content.order_history #arrange_withcard .order_content .order_card .order_card_mark {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: #fff;
  padding: 3px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 75px;
}
section .main_content.order_history #arrange_withcard .order_content .order_card .order_img {
  height: 100px;
  margin: 0 auto;
}
section .main_content.order_history #arrange_withcard .order_content .order_card .between_flex .deleted_price {
  text-decoration: line-through;
}
section .main_content.order_history #arrange_withcard .order_content .order_card .order_card_title {
  margin: 10px 0 10px;
}
section .main_content.order_history #arrange_withcard .order_content .order_card .order_card_footer button {
  background-color: #252525;
  color: #fff;
  padding: 3px;
  text-align: center;
  border: 1px solid #252525;
  cursor: pointer;
}
section .main_content.order_history #arrange_withcard .order_content .order_card .order_card_footer button:hover {
  background-color: #fff;
  color: #252525;
}
section .main_content.order_history #arrange_withcard .order_content .order_card .order_card_footer button.reorder_add_btn {
  width: 105px;
}
section .main_content.order_history #arrange_withcard .order_content .order_card .order_card_footer button.order_add_btn {
  width: 60px;
}
section .main_content.order_history #arrange_withtable {
  margin-bottom: 30px;
  padding: 10px 15px;
}
section .main_content.order_history #arrange_withtable .order_table {
  position: relative;
}
section .main_content.order_history #arrange_withtable .order_table .order_title {
  font-size: 18px;
  padding-bottom: 5px;
  margin-top: 20px;
}
section .main_content.order_history #arrange_withtable .order_table .add_all_btn {
  position: absolute;
  top: -5px;
  right: 0;
  background-color: #252525;
  color: #fff;
  border: 1px solid #252525;
  padding: 3px 20px;
}
section .main_content.order_history #arrange_withtable .order_table table {
  width: 100%;
}
section .main_content.order_history #arrange_withtable .order_table table tr {
  border-bottom: 1px solid #999999;
}
section .main_content.order_history #arrange_withtable .order_table table tr td {
  padding: 10px 0 5px;
}
section .main_content.order_history #arrange_withtable .order_table table tr .product_price p {
  margin-right: 5px;
  display: inline-block;
}
section .main_content.order_history #arrange_withtable .order_table table tr .product_price p.large_text {
  text-decoration: line-through;
}
section .main_content.order_history #arrange_withtable .order_table table tr .product_price p.save_mark {
  background-color: red;
  color: #fff;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  width: 90px;
}
section .main_content.order_history #arrange_withtable .order_table table tr .product_btns button {
  background-color: #252525;
  color: #fff;
  padding: 3px 10px;
  text-align: center;
  border: 1px solid #252525;
  cursor: pointer;
  margin-left: 5px;
  display: inline-block;
}
section .main_content.order_history #arrange_withtable .order_table table tr .product_btns p {
  display: inline-block;
}

@media screen and (max-width: 992px) {
  section .main_content.order_history .order_header .between_flex {
    display: block !important;
    margin: 10px 0;
  }
  section .main_content.order_history .order_header .between_flex .order_card_header_icons {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
