header{
    background-color: darkslategrey;
    padding: 10px;
    .topnav{
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding: 15px;
        a{
            float: right;
            display: block;
            color: $white-color;
            text-align: center;
            padding: 30px 10px;
            text-decoration: none;
            font-size: $font-18;
        }
        .logo {
            font-size: 50px;
            color: $white-color;
            img{
                width: 125px;
            }
        }
        .icon {
            display: none;
        }
    }
    .action_bar{
        padding: 10px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .action_bar01{
            display: flex;
            align-items: center;
            padding: 0 10px;
            i{
                color: $white-color;
                font-size: 24px;
            }
            ul{
                display: inline-block;
                list-style-type: none;
                padding: 0;
                margin: 0 30px;
                li{
                    a{
                        color: $white-color;
                        span{
                            margin-left: 10px;
                            font-size: 16px;
                        }
                    }
                }
            }
            .dropdown-menu{
                display: none!important;
            }
            .open>.dropdown-menu {
                display: block!important;
            }
            .dropdown-toggle::after{
                margin-left: 2.255em;
            }
            .dropdown{
                .dropdown-toggle{
                    .caret{
                        margin-top: 0;
                        margin-left: 50px;
                        border-top: 6px solid #eee;
                        border-right: 6px solid transparent;
                        border-left: 6px solid transparent;
                    }
                }
            }
            .input-group{
                width: 340px;
                border: none;
                input{
                    font-size: 16px;
                    padding: 8px 16px;
                    border-radius: 20px;
                    width: 100%;
                    border: none;
                    .input-group-prepend{
                        button{
                            position: absolute;
                            left: 2px;
                            width: 35px;
                            top: 2px;
                            border-radius: 50px;
                            height: 35px;
                        }
                    }
                    .input-group-append{
                        button{
                            position: absolute;
                            right: 2px;
                            width: 35px;
                            top: 2px;
                            border-radius: 50px;
                            height: 35px;
                        }
                    }
                }
                .form-control.counter{
                    text-align: center;
                }
                i{
                    color: $black-color;
                    margin-left: -30px;
                    font-size: 22px;
                    margin-top: 5px;
                }
            }
        }
        .action_bar02{
            display: flex;
            background: $white-color;
            width: 300px;
            border-radius: 30px;
            padding: 0px 10px;
            font-size: 18px;
            justify-content: space-between;
            align-items: center;
            .cart{
                display: flex;
                align-items: center;
                padding: 7px;
                i{
                    font-size: 22px;
                    margin-right: 10px;
                }
            }
            .toggle_btn{
                display: flex;
                align-items: center;
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 30px;
                margin-left: 10px;
                margin-bottom: 0;
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                .slider.round {
                    border-radius: 34px;
                }
                
                .slider.round:before {
                    border-radius: 50%;
                }
            }
            .switch .slider:before{
                top: 2px;
                bottom: 0;
            }
            input:checked + .slider {
                background-color: #2196F3;
            }
            
            input:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
            }
            
            input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
        #sidebarCollapse{
            display: none;
            margin-right: 20px;
        }
    }
}
header.favourite_header{
    .action_bar{
        .action_bar01{
            .dropdown {
                .dropdown-toggle{
                    .caret{
                        margin-left: 20px;
                    }
                }
            }
            .action_bar02{
                margin-left: 20px;
                width: 270px;
                padding: 5px 10px;
                .cart_arrow{
                    margin-left: 10px;
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 1;
                    margin-top: -9px;                
                }
            }
        }
        i.fa-shopping-cart{
            color: $black-color;
        }
        .shopping_list_header{
            color: $white-color;
            span.large_text{
                font-size: 24px;
                margin-right: 5px;
            }
            i{
                margin-right: 4px;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    header{
        .topnav{
            padding: 0 20px;
            text-align: center;
            a{
                display: none;
                padding: 20px 0 0 0;
            }
            .icon {
                display: block;
                font-size: 24px;
                z-index: 10000;
            }
            .icon:hover {
                color: white;
            }
            .logo{
                font-size: 40px;
                margin-top: 12px;
                display: block;
                img{
                    position: absolute;
                    left: 20px;
                    width: 85px;
                }    
            }
        }
        .topnav.responsive {
            position: relative;
            .icon {
                position: absolute;
                right: 20px;
                top: 0;
            }
            a {
                float: none;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header{
        .topnav a {
            padding: 20px 0 0 0;
        }
        .topnav.responsive{
            .logo{
                .logo_text{
                    position: relative;
                    display: block;
                    top: 0;
                    left: 0;
                }
            }
        }
        .action_bar{
            // background-color: $white-color;
            margin-top: 10px;
            i{
                color: $darkgrey-color;
            }
            .action_bar01{
                .input-group{
                    width: unset;
                    display: none;
                    i{
                        color: $darkgrey-color;
                    }
                }
                ul li{
                    a{
                        span{
                            display: none;
                        }
                        .caret{
                            display: none;
                        }
                    }
                    a[aria-expanded=true]{
                        border-bottom: none;
                        padding: 0!important;
                    }
                    a[aria-expanded=false]::before, a[aria-expanded=true]::before{
                        display: none;
                    }
                }
                #sidebarCollapse{
                    display: block;
                }
            }
            .action_bar02{
                width: 200px;
                margin-right: 10px;
                .toggle_btn{
                    display: none;
                }
                #cart_text{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    header{
        .topnav{
            padding: 0px 20px 60px;
            .logo{
                margin-top: 5px;
                .logo_text{
                    margin-top: 5px;
                    position: absolute;
                    left: 110px;
                    top: 64px;    
                }
                img{
                    position: absolute;
                    left: 40%;
                }
            }
        }
        .action_bar{
            .action_bar01{
                padding: 0 0 0 15px;
                ul{
                    margin: 0 20px;
                }
                i{
                    color: $white-color;
                }
            }
            .action_bar02{
                display: none;
                background: $white-color;
                i{
                    color: $black-color;
                }
                .cart{
                    i{
                        margin-right: 8px;
                    }
                }
            }
            .action_bar02.mobile_show{
                display: flex!important;
            }
        }
        .search_bar{
            position: relative;
            input{
                width: 90%;
                margin: 20px;
                padding: 8px 15px;
                border-radius: 20px;
                border: none;
            }
            i{
                position: absolute;
                top: 27px;
                right: 30px;
                font-size: 22px;
            }
        }
    }
}