<!DOCTYPE html>
<html lang="en">

<head>
    <title> Mandurah Account Setting </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../../Assets/font-awesome-4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.css">
    <link rel="stylesheet" href="https://www.jsdelivr.com/package/gh/FortAwesome/Font-Awesome">
    <link rel="stylesheet" href="../../Assets/scss/style.css">
</head>

<body>
    <!--======== header =========-->
    <header class="container-fluid">
        <!-- .navbar -->
        <div class="topnav" id="myTopnav">
            <a href="#contact"> CONTACT </a>
            <a href="#chest"> COMMUNITY CHEST </a>
            <a href="#fuel"> FUEL OFFER </a>
            <a href="#shop"> SHOP </a>
            <a href="#home" class="active"> HOME </a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            <span class="logo"> <span class="logo_text"> Mandurah </span> <img src="../../Assets/image/logo.png"> </span>
        </div>
        <!-- search bar, toggle bar-->
        <div class="action_bar">
            <div class="action_bar01">
                <i class="fa fa-th-list" id="sidebarCollapse"></i>
                <i class="fa fa-home"> </i>
                <ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user-circle"></i> <span>Hello Micheal!</span><b class="caret"></b> </a>
                    </li>
                </ul>
                <div class="input-group">
                    <input type="text" name="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="action_bar02">
                <div class="cart">
                    <i class="fa fa-shopping-cart"></i>
                    4 items
                </div>
                <div class="toggle_btn">
                    $13.44  <label class="switch"> <input type="checkbox"> <span class="slider round"></span> </label>
                </div>
            </div>
            <div class="action_bar02 mobile_show">
                <div class="cart">
                    <i class="fa fa-shopping-cart"></i> 4  &nbsp; &nbsp; $13.44 &nbsp; <i class="fa fa-eye"></i>
                </div>
            </div>
        </div>
        <div class="search_bar mobile_show">
            <input type="text" name="search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </header>

    <!--======== section =========-->
    <section>
        <!--=== left sidebar ===-->
        <div class="wrapper">
            <nav id="sidebar">
                <ul class="list-unstyled components">                
                    <li>
                        <a href="#mylists" data-toggle="collapse" aria-expanded="false"> My Lists </a>
                        <ul class="collapse list-unstyled" id="mylists">
                            <li>
                                <a href="#weekendshop" data-toggle="collapse" aria-expanded="false"> Weekend Shop </a>
                                <ul class="collapse list-unstyled" id="weekendshop">
                                    <li><a href="#"> Weekend Shop 01 </a></li>
                                    <li><a href="#"> Weekend Shop 02 </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#midweekshop" data-toggle="collapse" aria-expanded="false"> Midweek Shop </a>
                                <ul class="collapse list-unstyled" id="midweekshop">
                                    <li><a href="#"> Midweek Shop 01 </a></li>
                                    <li><a href="#"> Midweek Shop 02 </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#bolognaise" data-toggle="collapse" aria-expanded="false"> Bolognaise Ingredients </a>
                                <ul class="collapse list-unstyled" id="bolognaise">
                                    <li><a href="#"> Bolognaise 01 </a></li>
                                    <li><a href="#"> Bolognaise 02 </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#snacks" data-toggle="collapse" aria-expanded="false"> Snacks </a>
                                <ul class="collapse list-unstyled" id="snacks">
                                    <li><a href="#"> Snacks 01 </a></li>
                                    <li><a href="#"> Snacks 02 </a></li>
                                </ul>
                            </li>
                            <li><a href="#"> Manage Lists </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#myfavourites" data-toggle="collapse" aria-expanded="false">My Favourites</a>
                        <ul class="collapse list-unstyled" id="myfavourites">
                            <li><a href="#football"> Football </a></li>
                            <li><a href="#basketball"> Basketball </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#orderhistory" data-toggle="collapse" aria-expanded="false"> Order History </a>
                        <ul class="collapse list-unstyled" id="orderhistory">
                            <li><a href="#deliveryfood"> Delivery Food </a></li>
                            <li><a href="#meeting"> Metting </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#specials" data-toggle="collapse" aria-expanded="false"> Specials </a>
                        <ul class="collapse list-unstyled" id="specials">
                            <li><a href="#miracle"> Miracle </a></li>
                            <li><a href="#magic"> Magic </a></li>
                            <li><a href="#star"> Star </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#alldepartments" data-toggle="collapse" aria-expanded="false"> All Departments </a>
                        <ul class="collapse list-unstyled" id="alldepartments">
                            <li><a href="#department1"> Department1 </a></li>
                            <li><a href="#department2"> Department2 </a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="content">

            </div>
        </div>
        <!--=== main content ===-->
        <form method="post" action="" class="main_content">
            <!-- My Account -->
            <a href="#" id="content_title" class="account_links" onclick="openContent(event, 'myAccount')"> My Account </a>
            <div class="row"  id="content_sidebar">
                <div class="col-md-5 col-sm-12">
                    <ul class="list-unstyled components">                
                        <li><a href="#" class="account_links" aria-expanded="false" onclick="openContent(event, 'myDetails')"> My Details </a></li>
                        <li><a href="#" class="account_links" aria-expanded="false" onclick="openContent(event, 'changePassword')">Change Password</a></li>
                        <li><a href="#" class="account_links" aria-expanded="false" onclick="openContent(event, 'manageAddresses')"> Manage Addresses </a></li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-12">
                    <!-- Select Account Section -->
                    <div class="text-center select_section disabled_text account_content" id="myAccount">
                        <p class="large_text">Select Account Section</p>
                    </div>
                    <!-- My Details -->
                    <div class="account_content" id="myDetails">
                        <p class="large_text"> Change My Details </p>
                        <div class="groceries_inputs">
                            <div class="justify-content-between flex">
                                <div class="form-group">
                                    <p> First Name </p>
                                    <input type="text" name="firstname" class="checkout_input01">
                                </div>
                                <div class="form-group">
                                    <p> Last Name </p>
                                    <input type="text" name="lastname" class="checkout_input01">
                                </div>                            
                            </div>     
                            <div class="form-group">
                                <p> Email </p>
                                <input type="email" name="email" class="checkout_input02">
                            </div>                       
                            <div class="justify-content-between flex">
                                <div class="form-group">
                                    <p> Mobile </p>
                                    <input type="number" name="mobile" class="checkout_input01">
                                </div>
                                <div class="form-group">
                                    <p> Landine (optional) </p>
                                    <input type="number" name="landline" class="checkout_input01">
                                </div>                            
                            </div>
                        </div>
                        <button class="checkout_btn"> Save Changes </button>
                    </div>
                    <!-- Change Password -->
                    <div class="account_content" id="changePassword">
                        <p class="large_text"> Change Password </p>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="groceries_inputs">   
                                    <div class="form-group">
                                        <p> Enter Old Password </p>
                                        <input type="password" name="oldPassword" class="checkout_input02">
                                    </div>
                                    <div class="form-group">
                                        <p> New Password </p>
                                        <input type="password" name="newPassword" class="checkout_input02">
                                    </div>
                                    <div class="form-group">
                                        <p> Confirm New Password </p>
                                        <input type="password" name="rePassword" class="checkout_input02">
                                    </div>                                    
                                </div>
                                <button class="checkout_btn"> Update Password </button>
                            </div>
                        </div>
                    </div>
                    <!-- Manage Addresses -->
                    <div class="account_content" id="manageAddresses">
                        <p class="large_text"> Manage Addresses </p>
                        <label> Primary Address </label>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="address_box">
                                    <div class="address_header between_flex">
                                        <p> Home </p>
                                        <div>
                                            <i class="fa fa-pencil"></i> &nbsp;
                                            <i class="fa fa-close error_text"></i>
                                        </div>
                                    </div>
                                    <div class="address_content">
                                        <p> 123 Adress St <br> Suburbsville <br> Victoria, 3001 </p>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label> Other Address </label>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="address_box">
                                    <div class="address_header between_flex">
                                        <p> Mum's Place </p>
                                        <div>
                                            <i class="fa fa-pencil"></i> &nbsp;
                                            <i class="fa fa-close error_text"></i>
                                        </div>
                                    </div>
                                    <div class="address_content">
                                        <p> 123 Adress St <br> Suburbsville <br> Victoria, 3001 </p>                                
                                    </div>
                                </div>
                                <p class="disabled_text"> Make Primary Address </p>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="address_box">
                                    <div class="address_header between_flex">
                                        <p> Holiday House </p>
                                        <div>
                                            <i class="fa fa-pencil"></i> &nbsp;
                                            <i class="fa fa-close error_text"></i>
                                        </div>
                                    </div>
                                    <div class="address_content">
                                        <p> 123 Adress St <br> Suburbsville <br> Victoria, 3001 </p>                                
                                    </div>
                                </div>
                                <p class="disabled_text"> Make Primary Address </p>
                            </div>
                        </div>
                        <button class="checkout_btn"> Add New Address </button>
                    </div>
                </div>
            </div>
        </form>
        <!--=== right sidebar ===-->
        <div class="wrapper_right">
            <div class="rsb static">
                <div class="trolley"> 
                    <p>Trolley</p>
                    <div>
                        <span> Save </span> &nbsp; &nbsp;
                        <span class="error_text"> Clear </span>
                    </div>
                </div>
                <div class="trolley_items">
                    <p> Green Pears </p>
                    <div>
                        <span> x3 </span> &nbsp;
                        <span> $3.36 </span> &nbsp;
                        <i class="fa fa fa-caret-down"></i>
                    </div>
                </div>
                <div class="trolley_items">
                    <p> Royal Gala Apples </p>
                    <div>
                        <span> x2 </span> &nbsp;
                        <span> $2.58 </span> &nbsp;
                        <i class="fa fa fa-caret-up"></i>
                    </div>
                </div>
                <div class="text-center">
                    <img src="../../Assets/image/product.png">
                </div>
                <div>
                    <label> $7.00 </label>
                    <span class="small_text"> each </span>
                </div>
                <p class="disabled_text small_text"> $7.00 per Kg</p>
                <div class="flex">
                    <div class="input-counter input-group">
                        <div class="input-group-append">
                            <button type="button" class="btn-add btn">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control counter" data-min="1" data-max="100" data-default="1">
                        <div class="input-group-prepend">
                            <button type="button" class="btn-subtract btn">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div>
                        <p class="error_text"> Remove &nbsp; <i class="fa fa-times-circle"></i></p>
                    </div>
                </div>
                <p class="small_text"> Alternatives </p>
                <div class="between_flex">
                    <div> Royal Gala Apples </div>                
                    <div>
                        x2 &nbsp; $2.58 &nbsp; <i class="fa fa-times-circle error_text"></i></p>
                    </div>
                </div>
                <div class="between_flex">
                    <div> Loved By <br> Lunchboxes Kids </div>                
                    <div>
                        x2 &nbsp; $4.00 &nbsp; <i class="fa fa fa-caret-down"></i></p>
                    </div>
                </div>
                <div class="between_flex">
                    <div> Pineapple Topless </div>                
                    <div>
                        x1 &nbsp; $3.50 &nbsp; <i class="fa fa fa-caret-down"></i></p>
                    </div>
                </div>
                <div class="trolley_total_price">
                    <div class="between_flex">
                        <p> Savings </p>                
                        <p> $2.50 </p>
                    </div>
                    <div class="between_flex">
                        <label> Total </label>                
                        <label> $13.44 </label>
                    </div>
                </div>
                
                <button class="checkout_btn"> Proceed To Checkout </button>
                <div class="toggle_btn">
                    Pick-Up  <label class="switch"> <input type="checkbox"> <span class="slider round"></span> </label> Delivery
                </div>
            </div>
        </div>
    </section>

    <!--======== footer =========-->
    <footer>
        <div class="row footer_row">
            <div class="col-md-6 col-sm-12">
                <img src="../../Assets/image/logo.png" class="footer_logo">
                <img src="../../Assets/image/footer_logo_title.png" class="footer_logo_text">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="col-md-4 col-sm-12" style="padding:0">
                    <p class="footer_title"> OUR STORE </p>
                    <p> Fuel Offer </p>
                    <p> Community Chest </p>
                    <p> Catalog </p>
                </div>
                <div class="col-md-4 col-sm-12" style="padding:0">
                    <p class="footer_title"> INFORMATION </p>
                    <p> Delivery / Pick UP </p>
                    <p> FAQ </p>
                    <p> Return Policy </p>
                    <p> Privacy Policy </p>
                    <p> Terms & Conditions </p>
                </div>
                <div class="col-md-4 col-sm-12" style="padding:0">
                    <p class="footer_title"> CONTACT </p>
                    <p> Contact </p>
                    <p> Employment </p>
                    <p> Opening Hours </p>
                    <p> Newsletter </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../Assets/js/jquery.input-counter.min.js"></script>
    <script src="../../Assets/js/style.js"></script>
</body>
</html>